{
  "openapi": "3.0.0",
  "info": {
    "title": "StuReflect Backend API",
    "version": "0.1.0",
    "description": "Volledige API-documentatie voor StuReflect backend. Deze API biedt volledige ondersteuning voor authenticatie met JWT-tokens, gebruikersbeheer, cursusbeheer. Alle endpoints ondersteunen JSON request/response format.",
    "contact": {
      "name": "API Ondersteuning",
      "email": "support@stureflect.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://backend.stureflect.com",
      "description": "Productieserver"
    },
    {
      "url": "http://localhost:3000",
      "description": "Ontwikkelingserver"
    }
  ],
  "tags": [
    {
      "name": "Algemeen",
      "description": "Algemene endpoints voor API-gezondheid en informatie"
    },
    {
      "name": "Authenticatie",
      "description": "Endpoints voor gebruiker registratie en inloggen met JWT-authenticatie"
    },
    {
      "name": "GitHub OAuth",
      "description": "Endpoints voor GitHub OAuth 2.0 authenticatie en private repository access"
    },
    {
      "name": "Cursussen",
      "description": "Endpoints voor cursusbeheer en cursusgegevens"
    },
    {
      "name": "Studenten",
      "description": "Endpoints voor student self-service: cursussen en opdrachten bekijken"
    },
    {
      "name": "Admin",
      "description": "Endpoints voor administratieve taken (alleen voor admins)"
    },
    {
      "name": "Docenten",
      "description": "Endpoints voor docenten om cursussen en studenten te beheren"
    },
    {
      "name": "Student Submissions",
      "description": "Endpoints voor het indienen van GitHub repositories voor opdrachten"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Controleert of de API beschikbaar is",
        "description": "Dit endpoint retourneert een welkomstbericht en kan gebruikt worden om te verifiëren dat de API online en beschikbaar is. Dit is handig voor health checks en monitoring.",
        "operationId": "getRootMessage",
        "tags": ["Algemeen"],
        "responses": {
          "200": {
            "description": "De API is beschikbaar en retourneert welkomstbericht",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Hallo vanuit Express op Vercel!"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "summary": "Gebruiker inloggen",
        "description": "Authenticeert een gebruiker met emailadres en wachtwoord. Bij succesvol inloggen wordt een JWT-token geretourneerd dat 1 uur geldig is. Dit token moet gebruikt worden in de Authorization header voor alle beveiligde endpoints. Het token moet in het formaat 'Bearer <token>' meegegeven worden.",
        "operationId": "loginUser",
        "tags": ["Authenticatie"],
        "requestBody": {
          "required": true,
          "description": "Gebruiker inloggegevens vereist",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "gebruiker@voorbeeld.nl",
                    "description": "Geregistreerd emailadres van de gebruiker. Dit emailadres moet exact overeenkomen met het ingeregistreerde adres."
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "VeiligWachtwoord123!",
                    "description": "Wachtwoord van de gebruiker (minimaal 6 tekens). Wachtwoorden zijn case-sensitief."
                  }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesvol ingelogd - JWT-tokens ontvangen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZW1haWwiOiJnZWJydWlrZXJAZm9vcmJlZWxkLm5sIiwicm9sZSI6InN0dWRlbnQiLCJpYXQiOjE2OTI4MDAwMDAsImV4cCI6MTY5MjgwMzYwMH0.signature",
                      "description": "JWT access token met 15 minuten geldigheid (15m). Gebruik dit in Authorization header."
                    },
                    "refreshToken": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZW1haWwiOiJnZWJydWlrZXJAZm9vcmJlZWxkLm5sIiwiaWF0IjoxNjkyODAwMDAwLCJleHAiOjE3MDA1ODAwMDB9.signature",
                      "description": "Refresh token met 7 dagen geldigheid. Gebruik dit om een nieuw access token op te vragen via /api/auth/refresh."
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1,
                          "description": "Gebruiker ID"
                        },
                        "email": {
                          "type": "string",
                          "example": "gebruiker@voorbeeld.nl",
                          "description": "Gebruiker email"
                        },
                        "name": {
                          "type": "string",
                          "example": "Jan Jansen",
                          "description": "Gebruiker naam"
                        },
                        "role": {
                          "type": "string",
                          "example": "student",
                          "description": "Gebruiker rol (student, docent, beheerder)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ongeldig verzoek - emailadres of wachtwoord ontbreekt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Emailadres en wachtwoord zijn verplicht."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Gebruiker niet gevonden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Gebruiker met dit emailadres is niet geregistreerd."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ongeldige inloggegevens - wachtwoord is onjuist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Het ingevoerde wachtwoord is onjuist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interne serverfout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Er is iets misgegaan bij het verwerken van uw verzoek."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "summary": "Nieuw gebruikersaccount aanmaken",
        "description": "Registreert een nieuwe gebruiker in het systeem. Het wachtwoord wordt veilig versleuteld opgeslagen met bcrypt. Na succesvolle registratie kan de gebruiker inloggen met het loginendpoint. Elk emailadres kan slechts eenmaal gebruikt worden.",
        "operationId": "registerUser",
        "tags": ["Authenticatie"],
        "requestBody": {
          "required": true,
          "description": "Registratiegegevens voor nieuwe gebruiker",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "nieuwegebruiker@voorbeeld.nl",
                    "description": "Uniek emailadres voor het nieuwe account. Dit emailadres mag niet al in het systeem geregistreerd zijn."
                  },
                  "name": {
                    "type": "string",
                    "example": "Jan Jansen",
                    "description": "Volledige naam van de gebruiker. Dit wordt gebruikt voor weergave in het systeem."
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "VeiligWachtwoord123!",
                    "description": "Wachtwoord van minimaal 6 tekens. Gebruik minimaal een mix van hoofdletters, kleine letters en nummers voor extra veiligheid."
                  },
                  "role": {
                    "type": "string",
                    "enum": ["student", "docent", "beheerder"],
                    "example": "student",
                    "description": "Optioneel: gebruikersrol in het systeem. Standaard is 'student'. Beschikbare rollen: student, docent, beheerder."
                  }
                },
                "required": ["email", "name", "password"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Gebruiker succesvol aangemaakt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 15,
                      "description": "Unieke gebruiker ID in het systeem"
                    },
                    "email": {
                      "type": "string",
                      "example": "nieuwegebruiker@voorbeeld.nl",
                      "description": "Geregistreerd emailadres van de nieuwe gebruiker"
                    },
                    "name": {
                      "type": "string",
                      "example": "Jan Jansen",
                      "description": "Volledige naam van de gebruiker"
                    },
                    "role": {
                      "type": "string",
                      "example": "student",
                      "description": "Toegewezen rol van de gebruiker (standaard: student)"
                    },
                    "github_id": {
                      "type": "null",
                      "example": null,
                      "description": "GitHub ID (null bij normaal registratie)"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-12-10T10:30:00Z",
                      "description": "Aanmaakdatum van het account"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ongeldig verzoek - email of naam of wachtwoord ontbreekt, of email al in gebruik",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "E-mailadres, naam en wachtwoord zijn verplicht."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interne serverfout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Er is iets misgegaan bij het registreren van de gebruiker."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/github": {
      "get": {
        "summary": "GitHub OAuth login initiëren",
        "description": "Initieert de GitHub OAuth 2.0 login flow. Redirect de gebruiker naar dit endpoint om inloggen met GitHub in te stellen. De gebruiker wordt naar GitHub gestuurd om toestemming te geven, waarna deze wordt teruggestuurd naar het callback endpoint.",
        "operationId": "githubLogin",
        "tags": [
          "GitHub OAuth"
        ],
        "responses": {
          "302": {
            "description": "Redirect naar GitHub OAuth authorize endpoint waar de gebruiker wordt gevraagd om toestemming te geven",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "example": "https://github.com/login/oauth/authorize?client_id=Ov23liaBs0uhu6phGG22&redirect_uri=https://backend.stureflect.com/api/auth/github/callback&scope=user:email,repo"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/github/callback": {
      "get": {
        "summary": "GitHub OAuth callback",
        "description": "Dit endpoint wordt gebruikt door GitHub om de gebruiker terug te sturen na autorisatie. Dit wordt automatisch behandeld door Passport. De gebruiker wordt ingelogd en krijgt een sessie.",
        "operationId": "githubCallback",
        "tags": ["GitHub OAuth"],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f6g7h8"
            },
            "description": "Tijdelijke autorisatiecode van GitHub die wordt uitgewisseld voor een access token"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "State parameter voor CSRF-bescherming"
          }
        ],
        "responses": {
          "302": {
            "description": "Succesvolle authenticatie - redirect naar frontend met tokens",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "example": "https://stureflect-frontend.vercel.app/auth-callback?accessToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...&refreshToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                },
                "description": "Redirect URL naar frontend met JWT tokens als query parameters"
              }
            }
          },
          "401": {
            "description": "GitHub authenticatie mislukt - gebruiker heeft toestemming geweigerd of er is een fout opgetreden tijdens OAuth",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "example": "https://stureflect-frontend.vercel.app/auth-error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "summary": "Token vernieuwen",
        "description": "Vernieuwt zowel access token als refresh token. Dit endpoint moet gebruikt worden als het access token verlopen is (na 15 minuten). Retourneert een nieuw access token (15 min geldig) en een nieuw refresh token (7 dagen geldig).",
        "operationId": "refreshToken",
        "tags": ["Authenticatie"],
        "requestBody": {
          "required": true,
          "description": "Refresh token vereist",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZW1haWwiOiJnZWJydWlrZXJAZm9vcmJlZWxkLm5sIiwiaWF0IjoxNjkyODAwMDAwLCJleHAiOjE3MDA1ODAwMDB9.signature",
                    "description": "Refresh token ontvangen bij login"
                  }
                },
                "required": ["refreshToken"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens succesvol vernieuwd",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZW1haWwiOiJnZWJydWlrZXJAZm9vcmJlZWxkLm5sIiwicm9sZSI6InN0dWRlbnQiLCJpYXQiOjE2OTI4MDAwMDAsImV4cCI6MTY5MjgwMzYwMH0.signature",
                      "description": "Nieuw JWT access token (15 minuten geldig)"
                    },
                    "refreshToken": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZW1haWwiOiJnZWJydWlrZXJAZm9vcmJlZWxkLm5sIiwiaWF0IjoxNjkyODAwMDAwLCJleHAiOjE3MDA1ODAwMDB9.signature",
                      "description": "Nieuw refresh token (7 dagen geldig)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Refresh token ontbreekt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Refresh token is verplicht."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ongeldige of verlopen refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Ongeldig of verlopen refresh token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Refresh token signature is ongeldig",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Ongeldig refresh token."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interne serverfout bij token vernieuwen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Interne serverfout bij token vernieuwen."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/profile": {
      "get": {
        "summary": "Gebruikersprofiel",
        "description": "Endpoints om het profiel van de ingelogde gebruiker op te halen. Vereist een geldige JWT access token in de Authorization header. Retourneert gebruikersinformatie zoals ID, email, naam, rol en aanmaakdatum.",
        "operationId": "getProfile",
        "tags": ["Authenticatie"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Gebruikersprofiel succesvol opgehaald",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1,
                      "description": "Gebruiker ID"
                    },
                    "email": {
                      "type": "string",
                      "example": "gebruiker@voorbeeld.nl",
                      "description": "Gebruiker email"
                    },
                    "name": {
                      "type": "string",
                      "example": "Jan Jansen",
                      "description": "Gebruiker naam"
                    },
                    "role": {
                      "type": "string",
                      "example": "student",
                      "description": "Gebruiker rol (student, docent, beheerder)"
                    },
                    "github_id": {
                      "type": "null",
                      "example": null,
                      "description": "GitHub ID (null als niet gekoppeld)"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-12-10T10:30:00Z",
                      "description": "Aanmaakdatum van het account"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Geen geldige JWT token in Authorization header. Zorg dat je een geldige Bearer token meestuurt. Format: 'Authorization: Bearer <accessToken>'",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Token niet gevonden of ongeldig"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Gebruiker niet gevonden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Gebruiker niet gevonden."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interne serverfout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Interne serverfout bij ophalen profiel."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "summary": "Uitloggen - Token revoke",
        "description": "Revoke het refresh token van de gebruiker. Dit maakt het refresh token ongeldig en voorkomt dat het kan worden gebruikt om nieuwe access tokens op te vragen. De gebruiker moet daarna opnieuw inloggen.\n\nDit endpoint vereist authenticatie via een geldig access token in de Authorization header.",
        "operationId": "logoutUser",
        "tags": ["Authenticatie"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZW1haWwiOiJ...",
                    "description": "Het refresh token dat moet worden gerevoked"
                  }
                },
                "required": ["refreshToken"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout succesvol - refresh token is gerevoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Succesvol uitgelogd."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Refresh token ontbreekt in request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Refresh token is verplicht."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - geldige JWT access token vereist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Token niet gevonden of ongeldig"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Interne serverfout bij uitloggen."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/courses": {
      "get": {
        "summary": "Alle beschikbare cursussen ophalen",
        "description": "Retourneert een volledige lijst met alle beschikbare cursussen in het systeem. Elke cursus bevat zijn unieke ID, titel, beschrijving en cursuscode. Dit endpoint is publiek toegankelijk en vereist geen authenticatie. **Gebruik:** Dit endpoint wordt gebruikt om een overzicht van alle cursussen te tonen aan studenten voordat ze zich inschrijven, of aan docenten om cursussen te selecteren.",
        "operationId": "getAllCourses",
        "tags": ["Cursussen"],
        "responses": {
          "200": {
            "description": "Cursussen succesvol opgehaald",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Status van de request - true bij succes"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "description": "Uniek cursus ID"
                          },
                          "title": {
                            "type": "string",
                            "example": "Web Development 101",
                            "description": "Titel van de cursus"
                          },
                          "description": {
                            "type": "string",
                            "example": "Learn HTML, CSS, and JavaScript fundamentals",
                            "description": "Uitgebreide beschrijving van wat de cursus behandelt"
                          },
                          "code": {
                            "type": "string",
                            "example": "WEB101",
                            "description": "Unieke cursuscode voor identificatie"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-01-01T00:00:00Z"
                          }
                        }
                      },
                      "description": "Array met alle beschikbare cursussen inclusief metadata"
                    },
                    "message": {
                      "type": "string",
                      "example": "5 cursussen gevonden",
                      "description": "Aanvullend bericht over het aantal gevonden cursussen"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interne serverfout bij ophalen cursussen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Er is een fout opgetreden bij het ophalen van de cursussen uit de database"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/students/me/courses": {
      "get": {
        "summary": "Haal cursussen van ingelogde student op",
        "description": "Retourneert alle cursussen waar de ingelogde student voor is ingeschreven, inclusief het aantal opdrachten per cursus. De student wordt geïdentificeerd via het JWT token in de Authorization header. **Gebruik:** Dit endpoint wordt gebruikt om het cursusoverzicht van een student te tonen op hun dashboard.",
        "operationId": "getStudentCourses",
        "tags": ["Studenten"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Cursussen succesvol opgehaald met opdracht statistieken",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer", "example": 1, "description": "Uniek cursus ID" },
                          "title": {
                            "type": "string",
                            "example": "Web Development 101",
                            "description": "Titel van de cursus"
                          },
                          "description": {
                            "type": "string",
                            "example": "Learn the basics of web development",
                            "description": "Korte beschrijving van de cursus"
                          },
                          "code": {
                            "type": "string",
                            "example": "WEB101",
                            "description": "Cursuscode"
                          },
                          "assignment_count": {
                            "type": "string",
                            "example": "5",
                            "description": "Totaal aantal opdrachten in deze cursus"
                          }
                        }
                      },
                      "description": "Array met cursussen waar de student voor is ingeschreven"
                    },
                    "message": {
                      "type": "string",
                      "example": "3 cursussen gevonden"
                    },
                    "error": { "type": "null", "example": null }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Niet geauthenticeerd - JWT token ontbreekt of is ongeldig",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Geen token verstrekt of token is verlopen"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error - database of query probleem",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Fout bij ophalen cursussen"
                    },
                    "error": {
                      "type": "string",
                      "example": "INTERNAL_SERVER_ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/students/me/courses/{courseId}/assignments": {
      "get": {
        "summary": "Haal opdrachten van een cursus op voor student",
        "description": "Retourneert alle opdrachten voor een specifieke cursus waar de student is ingeschreven, inclusief submission status per opdracht. De student kan alleen opdrachten zien van cursussen waar ze voor zijn ingeschreven. **Gebruik:** Dit endpoint toont een overzicht van alle opdrachten binnen een cursus, met informatie of de student ze al heeft ingediend. Ondersteunt filteren op status en sorteren op verschillende velden.",
        "operationId": "getStudentCourseAssignments",
        "tags": ["Studenten"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "description": "Het unieke ID van de cursus waarvan opdrachten worden opgehaald",
            "schema": { "type": "integer", "example": 1 }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter opdrachten op submission status: 'submitted' (al ingediend), 'pending' (nog niet ingediend), of 'all' (alle opdrachten)",
            "schema": {
              "type": "string",
              "enum": ["submitted", "pending", "all"],
              "default": "all"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Veld waarop gesorteerd moet worden: 'due_date' (deadline), 'title' (alfabetisch), of 'created_at' (aanmaakdatum)",
            "schema": {
              "type": "string",
              "enum": ["due_date", "title", "created_at"],
              "default": "due_date"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sorteerrichting: 'asc' (oplopend) of 'desc' (aflopend)",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Opdrachten succesvol opgehaald",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer", "example": 1 },
                          "title": {
                            "type": "string",
                            "example": "Build a Portfolio Website"
                          },
                          "description": {
                            "type": "string",
                            "example": "Create a personal portfolio using HTML, CSS, and JavaScript"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-12-17T09:52:40.014Z"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-12-10T09:52:40.654Z"
                          },
                          "submission_id": {
                            "type": "integer",
                            "nullable": true,
                            "example": 1
                          },
                          "submission_status": {
                            "type": "string",
                            "enum": ["submitted", "pending"],
                            "example": "submitted"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "2 opdrachten gevonden"
                    },
                    "error": { "type": "null", "example": null }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ongeldig cursus ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Ongeldig cursus ID"
                    },
                    "error": { "type": "string", "example": "BAD_REQUEST" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Niet geauthenticeerd",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Geen token verstrekt."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Niet ingeschreven voor cursus",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Je bent niet ingeschreven voor deze cursus"
                    },
                    "error": { "type": "string", "example": "FORBIDDEN" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Fout bij ophalen opdrachten"
                    },
                    "error": {
                      "type": "string",
                      "example": "INTERNAL_SERVER_ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/students/me/submissions": {
      "get": {
        "summary": "Haal alle submissions van student op",
        "description": "Retourneert alle submissions die de ingelogde student heeft ingediend voor alle cursussen, inclusief scores en opdracht details. Ondersteunt filtering op cursus en status. **Gebruik:** Dit endpoint wordt gebruikt voor het student submission overzicht dashboard, waar studenten al hun ingediend werk kunnen bekijken met scores en feedback status.",
        "operationId": "getStudentSubmissions",
        "tags": ["Studenten"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "courseId",
            "in": "query",
            "description": "Filter submissions op specifieke cursus ID - als niet opgegeven worden alle cursussen getoond",
            "required": false,
            "schema": { "type": "integer", "example": 2 }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter op submission status: 'pending' (in behandeling), 'completed' (afgerond), 'graded' (beoordeeld)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["pending", "completed", "graded"]
            }
          },
          {
            "name": "studentId",
            "in": "query",
            "description": "Student ID (development only - wordt verwijderd in productie)",
            "required": false,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Submissions succesvol opgehaald",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer", "example": 1 },
                          "assignment_id": { "type": "integer", "example": 5 },
                          "assignment_title": {
                            "type": "string",
                            "example": "JavaScript Basics"
                          },
                          "course_id": { "type": "integer", "example": 2 },
                          "course_title": {
                            "type": "string",
                            "example": "Web Development"
                          },
                          "github_url": {
                            "type": "string",
                            "example": "https://github.com/student/repo"
                          },
                          "commit_sha": {
                            "type": "string",
                            "example": "abc123def456"
                          },
                          "status": {
                            "type": "string",
                            "example": "completed"
                          },
                          "ai_score": {
                            "type": "integer",
                            "nullable": true,
                            "example": 85
                          },
                          "manual_score": {
                            "type": "integer",
                            "nullable": true,
                            "example": 90
                          },
                          "user_id": { "type": "integer", "example": 1 },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "4 submissions gevonden"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interne serverfout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Fout bij ophalen submissions"
                    },
                    "error": {
                      "type": "string",
                      "example": "INTERNAL_SERVER_ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/students/me/submissions/{submissionId}": {
      "get": {
        "summary": "Haal submission detail met feedback op",
        "description": "Retourneert uitgebreide informatie over een specifieke submission inclusief opdracht details, cursus info en alle feedback (AI en manueel). De student kan alleen eigen submissions bekijken - toegang tot andermans submissions resulteert in 403 Forbidden. **Gebruik:** Dit endpoint wordt gebruikt op de submission detail pagina waar studenten hun ingediende werk, scores, en feedback kunnen bekijken.",
        "operationId": "getStudentSubmissionDetail",
        "tags": ["Studenten"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "description": "Het unieke ID van de submission die moet worden opgehaald",
            "required": true,
            "schema": { "type": "integer", "example": 42 }
          },
          {
            "name": "studentId",
            "in": "query",
            "description": "Student ID (development only - wordt verwijderd in productie)",
            "required": false,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Submission detail succesvol opgehaald",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "submission": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "integer", "example": 1 },
                            "github_url": {
                              "type": "string",
                              "example": "https://github.com/student/repo"
                            },
                            "commit_sha": {
                              "type": "string",
                              "example": "abc123def456"
                            },
                            "status": {
                              "type": "string",
                              "example": "completed"
                            },
                            "ai_score": {
                              "type": "integer",
                              "nullable": true,
                              "example": 85
                            },
                            "manual_score": {
                              "type": "integer",
                              "nullable": true,
                              "example": 90
                            },
                            "user_id": { "type": "integer", "example": 1 },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        "assignment": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "integer", "example": 5 },
                            "title": {
                              "type": "string",
                              "example": "JavaScript Basics"
                            },
                            "description": {
                              "type": "string",
                              "example": "Create a JavaScript application"
                            },
                            "due_date": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        "course": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "integer", "example": 2 },
                            "title": {
                              "type": "string",
                              "example": "Web Development"
                            }
                          }
                        },
                        "feedback": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "integer", "example": 1 },
                              "submission_id": {
                                "type": "integer",
                                "example": 1
                              },
                              "content": {
                                "type": "string",
                                "example": "Great implementation!"
                              },
                              "reviewer": {
                                "type": "string",
                                "enum": ["ai", "teacher"],
                                "example": "ai"
                              },
                              "severity": {
                                "type": "string",
                                "enum": ["low", "medium", "high", "critical"],
                                "example": "low"
                              },
                              "line_number": {
                                "type": "integer",
                                "nullable": true,
                                "example": 42
                              },
                              "suggestion": {
                                "type": "string",
                                "nullable": true,
                                "example": "Consider using const"
                              },
                              "type": {
                                "type": "string",
                                "nullable": true,
                                "example": "suggestion"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Submission detail opgehaald"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ongeldig submission ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Ongeldig submission ID"
                    },
                    "error": { "type": "string", "example": "BAD_REQUEST" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Student heeft geen toegang tot deze submission",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Je hebt geen toegang tot deze submission"
                    },
                    "error": { "type": "string", "example": "FORBIDDEN" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Submission niet gevonden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Submission niet gevonden"
                    },
                    "error": { "type": "string", "example": "NOT_FOUND" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interne serverfout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Fout bij ophalen submission detail"
                    },
                    "error": {
                      "type": "string",
                      "example": "INTERNAL_SERVER_ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/docent/courses/{courseId}/students": {
      "get": {
        "summary": "Haal ingeschreven studenten op",
        "description": "Haalt een gepagineerde lijst op van studenten die zijn ingeschreven voor een specifieke cursus, met optionele filters en sortering.",
        "operationId": "getEnrolledStudents",
        "tags": ["Docenten"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "ID van de cursus"
          },
          {
            "name": "assignmentId",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Filter op opdracht ID"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Filter op inleverstatus"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Zoek op naam of e-mail"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "name" },
            "description": "Sorteerveld (name, progress, lastSubmission, avgScore)"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "asc" },
            "description": "Sorteervolgorde (asc, desc)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1 },
            "description": "Paginanummer"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 50 },
            "description": "Aantal items per pagina"
          }
        ],
        "responses": {
          "200": {
            "description": "Lijst met studenten en paginering metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "students": { "type": "array", "items": { "type": "object" } },
                    "pagination": { "type": "object" }
                  }
                }
              }
            }
          },
          "400": { "description": "Ontbrekende verplichte parameters" },
          "500": { "description": "Interne serverfout" }
        }
      },
      "post": {
        "summary": "Voeg student toe aan cursus",
        "description": "Voegt een student toe aan een cursus op basis van e-mailadres.",
        "operationId": "addStudentToCourse",
        "tags": ["Docenten"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "ID van de cursus"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mailadres van de student"
                  }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Student succesvol toegevoegd" },
          "400": { "description": "Ongeldige input of missende velden" },
          "404": { "description": "Student niet gevonden" },
          "409": { "description": "Student is al ingeschreven" },
          "500": { "description": "Interne serverfout" }
        }
      }
    },
    "/api/docent/courses/{courseId}/students/{studentId}": {
      "delete": {
        "summary": "Verwijder student uit cursus",
        "description": "Verwijdert een student uit een specifieke cursus.",
        "operationId": "removeStudentFromCourse",
        "tags": ["Docenten"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "ID van de cursus"
          },
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "ID van de te verwijderen student"
          }
        ],
        "responses": {
          "200": { "description": "Student succesvol verwijderd" },
          "400": { "description": "Missing parameters" },
          "404": { "description": "Student niet ingeschreven" },
          "500": { "description": "Interne serverfout" }
        }
      }
    },
    "/api/admin/students": {
      "get": {
        "summary": "Haal alle studenten op (Admin)",
        "description": "Retourneert een volledige lijst van alle studenten in het systeem met hun profiel informatie. Dit endpoint is **alleen toegankelijk voor gebruikers met admin role**. Bij toegang door niet-admins wordt een 403 Forbidden geretourneerd. **Gebruik:** Dit endpoint wordt gebruikt op het admin dashboard om studentenlijsten te beheren en te monitoren. Inclusief audit logging voor compliance.",
        "operationId": "getAllStudents",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "adminId",
            "in": "query",
            "description": "Admin ID (development only - wordt verwijderd in productie en vervangen door req.user.id)",
            "required": false,
            "schema": { "type": "integer", "example": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Studenten succesvol opgehaald",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer", "example": 1 },
                          "email": {
                            "type": "string",
                            "example": "student@example.com"
                          },
                          "name": { "type": "string", "example": "Jan Jansen" },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "10 studenten gevonden"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Admin ID ontbreekt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Admin ID is verplicht"
                    },
                    "error": { "type": "string", "example": "BAD_REQUEST" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Alleen admins hebben toegang",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Alleen admins hebben toegang tot deze data"
                    },
                    "error": { "type": "string", "example": "FORBIDDEN" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interne serverfout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Fout bij ophalen studenten"
                    },
                    "error": {
                      "type": "string",
                      "example": "INTERNAL_SERVER_ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users/{userId}/role/teacher": {
      "put": {
        "summary": "Promoveer student naar docent (Admin)",
        "description": "Wijzigt de rol van een student account naar een docent account. De target gebruiker moet een actieve student zijn. **Alleen toegankelijk voor admins.** Deze actie wordt gelogd voor audit doeleinden.\n\n**Use case:** Wanneer een student afstudeeert en docent wordt, of wanneer een student tijdelijk hulp-docent functies krijgt.",
        "operationId": "promoteStudentToTeacher",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID van de gebruiker die gepromoveerd moet worden",
            "required": true,
            "schema": { "type": "integer", "example": 5 }
          }
        ],
        "responses": {
          "200": {
            "description": "Gebruiker succesvol gepromoveerd naar docent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "example": 5 },
                        "email": { "type": "string", "example": "docent@example.com" },
                        "name": { "type": "string", "example": "Jan Jansen" },
                        "role": { "type": "string", "example": "teacher" },
                        "updated_at": { "type": "string", "format": "date-time" }
                      }
                    },
                    "message": { "type": "string", "example": "Gebruiker is succesvol omgezet naar docent" },
                    "error": { "type": "string", "nullable": true, "example": null }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Gebruiker is geen student",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Gebruiker heeft al de rol 'teacher'. Alleen studenten kunnen naar docent worden omgezet." },
                    "error": { "type": "string", "example": "BAD_REQUEST" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authenticatie vereist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Authenticatie vereist" },
                    "error": { "type": "string", "example": "UNAUTHORIZED" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Alleen admins hebben toegang",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Alleen admins kunnen rollen wijzigen" },
                    "error": { "type": "string", "example": "FORBIDDEN" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Gebruiker niet gevonden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Gebruiker niet gevonden" },
                    "error": { "type": "string", "example": "NOT_FOUND" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Fout bij wijzigen van gebruikersrol" },
                    "error": { "type": "string", "example": "INTERNAL_SERVER_ERROR" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users/{userId}/role/student": {
      "put": {
        "summary": "Demoveer docent naar student (Admin)",
        "description": "Wijzigt de rol van een docent account naar een student account. De target gebruiker moet een actieve docent zijn. **Alleen toegankelijk voor admins.** Deze actie wordt gelogd voor audit doeleinden.\n\n**Use case:** Wanneer een docent tijdelijk of permanent terug naar student status gaat, bijvoorbeeld voor verdere studie.",
        "operationId": "demoteTeacherToStudent",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID van de gebruiker die gedemoveerd moet worden",
            "required": true,
            "schema": { "type": "integer", "example": 5 }
          }
        ],
        "responses": {
          "200": {
            "description": "Gebruiker succesvol gedemoveerd naar student",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "example": 5 },
                        "email": { "type": "string", "example": "student@example.com" },
                        "name": { "type": "string", "example": "Jan Jansen" },
                        "role": { "type": "string", "example": "student" },
                        "updated_at": { "type": "string", "format": "date-time" }
                      }
                    },
                    "message": { "type": "string", "example": "Gebruiker is succesvol omgezet naar student" },
                    "error": { "type": "string", "nullable": true, "example": null }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Gebruiker is geen docent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Gebruiker heeft al de rol 'student'. Alleen docenten kunnen naar student worden omgezet." },
                    "error": { "type": "string", "example": "BAD_REQUEST" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authenticatie vereist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Authenticatie vereist" },
                    "error": { "type": "string", "example": "UNAUTHORIZED" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Alleen admins hebben toegang",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Alleen admins kunnen rollen wijzigen" },
                    "error": { "type": "string", "example": "FORBIDDEN" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Gebruiker niet gevonden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Gebruiker niet gevonden" },
                    "error": { "type": "string", "example": "NOT_FOUND" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Fout bij wijzigen van gebruikersrol" },
                    "error": { "type": "string", "example": "INTERNAL_SERVER_ERROR" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users/{userId}/role/admin": {
      "put": {
        "summary": "Promoveer gebruiker naar admin (Admin)",
        "description": "Wijzigt de rol van een gebruiker (student of docent) naar admin. De target gebruiker mag nog geen admin zijn. **Alleen toegankelijk voor admins.** Deze zeer gevoelige actie wordt uitgebreid gelogd voor audit doeleinden.\n\n**Use case:** Wanneer een medewerker admin rechten nodig heeft voor systeem beheer. Gebruik met zorg!\n\n**Waarschuwing:** Admin accounts hebben volledige toegang tot alle functionaliteit. Verleen deze rechten alleen aan vertrouwde personen.",
        "operationId": "promoteUserToAdmin",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID van de gebruiker die admin rechten krijgt",
            "required": true,
            "schema": { "type": "integer", "example": 5 }
          }
        ],
        "responses": {
          "200": {
            "description": "Gebruiker succesvol gepromoveerd naar admin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "example": 5 },
                        "email": { "type": "string", "example": "admin@example.com" },
                        "name": { "type": "string", "example": "Jan Jansen" },
                        "role": { "type": "string", "example": "admin" },
                        "updated_at": { "type": "string", "format": "date-time" }
                      }
                    },
                    "message": { "type": "string", "example": "Gebruiker is succesvol omgezet naar admin" },
                    "error": { "type": "string", "nullable": true, "example": null }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Gebruiker is al een admin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Gebruiker is al een admin" },
                    "error": { "type": "string", "example": "BAD_REQUEST" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authenticatie vereist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Authenticatie vereist" },
                    "error": { "type": "string", "example": "UNAUTHORIZED" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Alleen admins hebben toegang",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Alleen admins kunnen rollen wijzigen" },
                    "error": { "type": "string", "example": "FORBIDDEN" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Gebruiker niet gevonden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Gebruiker niet gevonden" },
                    "error": { "type": "string", "example": "NOT_FOUND" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Fout bij wijzigen van gebruikersrol" },
                    "error": { "type": "string", "example": "INTERNAL_SERVER_ERROR" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users/{userId}/demote": {
      "put": {
        "summary": "Demoveer admin naar student of docent (Admin)",
        "description": "Wijzigt de rol van een admin account terug naar student of docent. De target gebruiker moet een admin zijn. **Beveiligingsmaatregel:** Een admin kan zichzelf niet demoveren. **Alleen toegankelijk voor admins.** Deze gevoelige actie wordt uitgebreid gelogd.\n\n**Use case:** Wanneer een admin functie eindigt of wanneer iemand per ongeluk admin rechten heeft gekregen.\n\n**Belangrijke restricties:**\n- Je kunt jezelf niet demoveren (beveiligingsmaatregel)\n- Target gebruiker moet admin zijn\n- Nieuwe rol moet 'student' of 'teacher' zijn",
        "operationId": "demoteAdminUser",
        "tags": ["Admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID van de admin die gedemoveerd moet worden",
            "required": true,
            "schema": { "type": "integer", "example": 5 }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Nieuwe rol voor de gebruiker (student of teacher)",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["newRole"],
                "properties": {
                  "newRole": {
                    "type": "string",
                    "enum": ["student", "teacher"],
                    "description": "De nieuwe rol moet 'student' of 'teacher' zijn",
                    "example": "student"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Admin succesvol gedemoveerd",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "example": 5 },
                        "email": { "type": "string", "example": "user@example.com" },
                        "name": { "type": "string", "example": "Jan Jansen" },
                        "role": { "type": "string", "example": "student" },
                        "updated_at": { "type": "string", "format": "date-time" }
                      }
                    },
                    "message": { "type": "string", "example": "Gebruiker is succesvol omgezet naar student" },
                    "error": { "type": "string", "nullable": true, "example": null }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Ongeldige request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Nieuwe rol moet \"student\" of \"teacher\" zijn" },
                    "error": { "type": "string", "example": "BAD_REQUEST" }
                  }
                },
                "examples": {
                  "invalidRole": {
                    "summary": "Ongeldige rol",
                    "value": {
                      "success": false,
                      "message": "Nieuwe rol moet \"student\" of \"teacher\" zijn",
                      "error": "BAD_REQUEST"
                    }
                  },
                  "notAdmin": {
                    "summary": "Gebruiker is geen admin",
                    "value": {
                      "success": false,
                      "message": "Gebruiker is geen admin (huidige rol: student). Alleen admins kunnen worden gedemoveerd.",
                      "error": "BAD_REQUEST"
                    }
                  },
                  "selfDemotion": {
                    "summary": "Zelf-demotie niet toegestaan",
                    "value": {
                      "success": false,
                      "message": "Je kunt jezelf niet demoveren",
                      "error": "BAD_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authenticatie vereist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Authenticatie vereist" },
                    "error": { "type": "string", "example": "UNAUTHORIZED" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Alleen admins hebben toegang",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Alleen admins kunnen rollen wijzigen" },
                    "error": { "type": "string", "example": "FORBIDDEN" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Gebruiker niet gevonden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Gebruiker niet gevonden" },
                    "error": { "type": "string", "example": "NOT_FOUND" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Fout bij wijzigen van gebruikersrol" },
                    "error": { "type": "string", "example": "INTERNAL_SERVER_ERROR" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/students/me/assignments/{assignmentId}/submissions": {
      "post": {
        "summary": "Dien GitHub repository in voor opdracht",
        "description": "Dien een GitHub repository in voor een opdracht. De repository wordt gevalideerd, de file tree wordt opgehaald en gefilterd op code bestanden. **Gebruik:** Student dient hun GitHub repo URL in, systeem valideert de URL, controleert of de repo publiek en bereikbaar is, haalt de commit SHA op, en retourneert een overzicht van alle code bestanden.",
        "operationId": "createGitHubSubmission",
        "tags": ["Student Submissions"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "description": "ID van de opdracht waarvoor wordt ingediend",
            "schema": { "type": "integer", "example": 1 }
          },
          {
            "name": "studentId",
            "in": "query",
            "required": false,
            "description": "Student ID (development only - wordt vervangen door JWT)",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["github_url"],
                "properties": {
                  "github_url": {
                    "type": "string",
                    "description": "GitHub repository URL (publiek)",
                    "example": "https://github.com/student/my-project"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Inzending succesvol aangemaakt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "example": 42 },
                        "assignment_id": { "type": "integer", "example": 1 },
                        "user_id": { "type": "integer", "example": 1 },
                        "github_url": { "type": "string", "example": "https://github.com/student/project" },
                        "commit_sha": { "type": "string", "example": "abc123def456789" },
                        "status": { "type": "string", "example": "pending" },
                        "created_at": { "type": "string", "format": "date-time" },
                        "repository": {
                          "type": "object",
                          "properties": {
                            "owner": { "type": "string", "example": "student" },
                            "repo": { "type": "string", "example": "project" },
                            "default_branch": { "type": "string", "example": "main" }
                          }
                        },
                        "files_count": { "type": "integer", "example": 15 },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": { "type": "string", "example": "src/index.js" },
                              "size": { "type": "integer", "example": 1024 },
                              "language": { "type": "string", "example": "javascript" }
                            }
                          }
                        },
                        "truncated": { "type": "boolean", "example": false }
                      }
                    },
                    "message": { "type": "string", "example": "Inzending succesvol aangemaakt" },
                    "error": { "type": "null", "example": null }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Ongeldige URL of lege repository",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "URL moet een GitHub repository zijn" },
                    "error": { "type": "string", "enum": ["INVALID_URL", "BAD_REQUEST", "EMPTY_REPO"], "example": "INVALID_URL" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Niet ingeschreven voor cursus",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Je bent niet ingeschreven voor deze cursus" },
                    "error": { "type": "string", "example": "FORBIDDEN" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Opdracht of repository niet gevonden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Opdracht niet gevonden" },
                    "error": { "type": "string", "enum": ["NOT_FOUND", "REPO_NOT_FOUND"], "example": "NOT_FOUND" }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Al een inzending voor deze opdracht",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Je hebt al een inzending voor deze opdracht" },
                    "error": { "type": "string", "example": "CONFLICT" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "existing_submission_id": { "type": "integer", "example": 5 }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - GitHub API rate limit bereikt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "GitHub API limiet bereikt, probeer later opnieuw" },
                    "error": { "type": "string", "example": "RATE_LIMITED" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Fout bij aanmaken inzending" },
                    "error": { "type": "string", "example": "INTERNAL_SERVER_ERROR" }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - GitHub API fout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Fout bij ophalen repository bestanden" },
                    "error": { "type": "string", "example": "GITHUB_ERROR" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer Token Authentication. All protected endpoints require a valid JWT token in the Authorization header. Format: 'Authorization: Bearer <token>'. Access tokens are valid for 15 minutes; use the refresh endpoint to obtain new tokens. Tokens are case-sensitive and must include the 'Bearer ' prefix."
      }
    }
  }
}
