.vercel

.env
.env*.local


/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log


.vscode/
.idea/
*.iml

*.tmp
*.temp
*.swp
.DS_Store

dist/
build/
.out/
.vercel_build_output/
.instructions/